@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,400&family=Roboto&display=swap');

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: green;
    align-items: center;
}

.ai-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.ai-hand {
    display: flex;
    flex-direction: row;
}

.user-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.user-hand {
    display: flex;
    flex-direction: row;
}

.table {
    display: flex;
    flex-direction: column  ;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.deck {
    display: flex;
}

.playground {
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-line {
}

.second-line {
    /* position: absolute;
    top: 100px; */
}

.beat {
    display: flex;
}

.card {
    height: 150px;
    width: 100px;
    margin: 3px;
    cursor: pointer;
}

img {
    height: 150px;
    width: 100px;
}